In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

%matplotlib qt
pd.set_option('display.max_columns', None)

In [3]:
bixler = pd.read_csv("C:/Users/chenx/Desktop/SA/04_29/BixLer-2022-04-29.csv")
bixler

,Date,Time,RSSI(dB),RxBt(V),Cels(V),GPS,GAlt(m),GSpd(kts),Date.1,Rud,Ele,Thr,Ail,S1,S2,SA,SB,SC,SD,SF,SH,LSW,TxBat(V)
0,2022-04-29,06:35:48.520,0,0.0,0.0,NaN,0.0,0.0,0-00-00 00:00:00,-9,-13,-1024,17,89,147,-1,0,1,-1,-1,-1,0,8.3
1,2022-04-29,06:35:48.610,0,0.0,0.0,NaN,0.0,0.0,0-00-00 00:00:00,-9,-13,-1024,17,89,147,-1,0,1,-1,-1,-1,0,8.3
2,2022-04-29,06:35:48.710,0,0.0,0.0,NaN,0.0,0.0,0-00-00 00:00:00,-9,-13,-1024,19,89,147,-1,0,1,-1,-1,-1,0,8.3
3,2022-04-29,06:35:48.810,0,0.0,0.0,NaN,0.0,0.0,0-00-00 00:00:00,-9,-13,-1024,19,89,147,-1,0,1,-1,-1,-1,0,8.3
4,2022-04-29,06:35:48.910,0,0.0,0.0,NaN,0.0,0.0,0-00-00 00:00:00,-9,-13,-1024,19,89,146,-1,0,1,-1,-1,-1,0,8.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31163,2022-04-29,12:50:42.820,86,4.9,11.5,49.224223 10.454238,434.3,1.7,2022-04-29 12:50:09,-5,-9,-1012,16,-1024,-421,-1,-1,1,1,-1,-1,0,8.0
31164,2022-04-29,12:50:42.920,86,4.9,11.5,49.224223 10.454238,434.3,1.7,2022-04-29 12:50:09,-5,-9,-1013,14,-1024,-421,-1,-1,1,1,-1,-1,0,8.0
31165,2022-04-29,12:50:43.020,86,4.9,11.5,49.224223 10.454238,434.3,1.7,2022-04-29 12:50:09,-5,-9,-1013,16,-1024,-421,-1,-1,1,1,-1,-1,0,8.0
31166,2022-04-29,12:50:43.120,86,4.9,11.5,49.224223 10.454238,434.3,1.7,2022-04-29 12:50:09,-5,-9,-1013,16,-1024,-421,-1,-1,1,1,-1,-1,0,8.0
31167,2022-04-29,12:50:43.220,86,4.9,11.5,49.224223 10.454238,434.3,1.7,2022-04-29 12:50:09,-5,-9,-1013,16,-1024,-421,-1,-1,1,1,-1,-1,0,8.0

In [3]:
# Find out wrong column "Date" from bixler
bixler = pd.read_csv("C:/Users/chenx/Desktop/SA/04_29/BixLer-2022-04-29.csv")
bixler_filter = bixler[bixler["Date"] != "2022-04-29"]
bixler_filter

,Date,Time,RSSI(dB),RxBt(V),Cels(V),GPS,GAlt(m),GSpd(kts),Date.1,Rud,Ele,Thr,Ail,S1,S2,SA,SB,SC,SD,SF,SH,LSW,TxBat(V)
1263,1999-11-30,10:39:55.050,94,4.9,12.57,49.224203 10.454235,447.5,0.8,2022-04-29 10:39:55,-6,-11,-880,16,-805,-466,-1,-1,1,-1,-1,1,0,7.6
1264,1999-11-30,10:39:55.150,94,4.9,12.57,49.224200 10.454235,447.5,0.8,2022-04-29 10:39:55,-6,-11,-879,16,-791,-467,-1,-1,1,-1,-1,1,0,7.6
1265,1999-11-30,10:39:55.250,94,4.9,12.57,49.224200 10.454235,447.8,0.8,2022-04-29 10:39:55,-6,-11,-880,16,-777,-466,-1,-1,1,-1,-1,1,4,7.6
1266,1999-11-30,10:39:55.350,94,4.9,12.57,49.224200 10.454235,447.8,0.8,2022-04-29 10:39:55,-6,-11,-880,16,-753,-467,-1,-1,1,-1,-1,1,4,7.6
1267,1999-11-30,10:39:55.450,94,4.9,12.57,49.224200 10.454235,447.8,0.8,2022-04-29 10:39:55,-6,-11,-880,16,-726,-466,-1,-1,1,-1,-1,1,4,7.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14698,1999-11-30,12:18:42.400,103,4.9,12.55,49.224110 10.454525,445.2,0.7,2022-04-29 12:18:32,-8,-8,-899,11,-916,-421,-1,-1,1,1,-1,1,4,8.3
14699,1999-11-30,12:18:42.500,103,4.9,12.55,49.224110 10.454525,445.2,0.7,2022-04-29 12:18:32,-8,-8,-899,11,-916,-422,-1,-1,1,1,-1,1,4,8.3
14700,1999-11-30,12:18:42.600,103,4.9,12.55,49.224110 10.454525,445.2,0.7,2022-04-29 12:18:32,-8,-8,-899,11,-916,-422,-1,-1,1,1,-1,1,4,8.3
14701,1999-11-30,12:18:42.700,103,4.9,12.55,49.224110 10.454525,445.2,0.7,2022-04-29 12:18:32,-8,-8,-899,13,-916,-422,-1,-1,1,1,-1,1,4,8.3
14702,1999-11-30,12:18:42.800,101,4.9,12.55,49.224110 10.454525,445.2,0.7,2022-04-29 12:18:32,-8,-8,-899,13,-916,-421,-1,-1,1,1,-1,1,0,8.3

In [4]:
# Chnange UTC-time to local time, generate a new column "Time_new",and put "Time_new" into bixler

from datetime import datetime
FMT = '%H:%M:%S.%f'
time = bixler["Time"]
time_null = (bixler.iloc[0]["Time"])
print("The first UTC time: " + time_null)

time_us = []
for key,value in bixler["Time"].iteritems():
    time_def = datetime.strptime(value, FMT) - datetime.strptime(time_null, FMT) 
    time_us_ref = time_def.total_seconds() * 1000000 
    #print(key, time_us_ref)
    time_us.append(time_us_ref)
#print(time_us)
bixler["time_us"] = time_us
  
# Rerange the position of column "Time_new_us"

titles = list(bixler.columns)
print(titles)

bixler = bixler[['time_us', 'Date', 'Time', 'RSSI(dB)', 'RxBt(V)', 'Cels(V)', 'GPS', 'GAlt(m)', 'GSpd(kts)', 'Date.1', 'Rud', 'Ele', 'Thr', 'Ail', 'S1', 'S2', 'SA', 'SB', 'SC', 'SD', 'SF', 'SH', 'LSW', 'TxBat(V)']]
#bixler.to_csv("C:/Users/chenx/Desktop/SA/04_29/BixLer_Test.csv", index = False)
bixler

The first UTC time: 06:35:48.520
['Date', 'Time', 'RSSI(dB)', 'RxBt(V)', 'Cels(V)', 'GPS', 'GAlt(m)', 'GSpd(kts)', 'Date.1', 'Rud', 'Ele', 'Thr', 'Ail', 'S1', 'S2', 'SA', 'SB', 'SC', 'SD', 'SF', 'SH', 'LSW', 'TxBat(V)', 'time_us']

,time_us,Date,Time,RSSI(dB),RxBt(V),Cels(V),GPS,GAlt(m),GSpd(kts),Date.1,Rud,Ele,Thr,Ail,S1,S2,SA,SB,SC,SD,SF,SH,LSW,TxBat(V)
0,0.000000e+00,2022-04-29,06:35:48.520,0,0.0,0.0,NaN,0.0,0.0,0-00-00 00:00:00,-9,-13,-1024,17,89,147,-1,0,1,-1,-1,-1,0,8.3
1,9.000000e+04,2022-04-29,06:35:48.610,0,0.0,0.0,NaN,0.0,0.0,0-00-00 00:00:00,-9,-13,-1024,17,89,147,-1,0,1,-1,-1,-1,0,8.3
2,1.900000e+05,2022-04-29,06:35:48.710,0,0.0,0.0,NaN,0.0,0.0,0-00-00 00:00:00,-9,-13,-1024,19,89,147,-1,0,1,-1,-1,-1,0,8.3
3,2.900000e+05,2022-04-29,06:35:48.810,0,0.0,0.0,NaN,0.0,0.0,0-00-00 00:00:00,-9,-13,-1024,19,89,147,-1,0,1,-1,-1,-1,0,8.3
4,3.900000e+05,2022-04-29,06:35:48.910,0,0.0,0.0,NaN,0.0,0.0,0-00-00 00:00:00,-9,-13,-1024,19,89,146,-1,0,1,-1,-1,-1,0,8.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31163,2.249430e+10,2022-04-29,12:50:42.820,86,4.9,11.5,49.224223 10.454238,434.3,1.7,2022-04-29 12:50:09,-5,-9,-1012,16,-1024,-421,-1,-1,1,1,-1,-1,0,8.0
31164,2.249440e+10,2022-04-29,12:50:42.920,86,4.9,11.5,49.224223 10.454238,434.3,1.7,2022-04-29 12:50:09,-5,-9,-1013,14,-1024,-421,-1,-1,1,1,-1,-1,0,8.0
31165,2.249450e+10,2022-04-29,12:50:43.020,86,4.9,11.5,49.224223 10.454238,434.3,1.7,2022-04-29 12:50:09,-5,-9,-1013,16,-1024,-421,-1,-1,1,1,-1,-1,0,8.0
31166,2.249460e+10,2022-04-29,12:50:43.120,86,4.9,11.5,49.224223 10.454238,434.3,1.7,2022-04-29 12:50:09,-5,-9,-1013,16,-1024,-421,-1,-1,1,1,-1,-1,0,8.0
31167,2.249470e+10,2022-04-29,12:50:43.220,86,4.9,11.5,49.224223 10.454238,434.3,1.7,2022-04-29 12:50:09,-5,-9,-1013,16,-1024,-421,-1,-1,1,1,-1,-1,0,8.0

In [5]:
plt.plot(bixler["Time_new_us"], bixler["Ail"])
plt.title("Aileron deflection measurement of Bixler Aileron")
plt.xlabel("Time [us]")
plt.ylabel("Ail [??]") 
#plt.xticks(np.arange(0, 5.5 * 10 ** 8, 0.5 * 10 ** 8))
#plt.legend()
plt.grid()
plt.show()

In [5]:
wing_left = pd.read_csv("C:/Users/chenx/Desktop/SA/04_29/acmuv1100/activitylog204.csv", delimiter = ";", header = 25)

# Rename all columns in wing_left
titles = list(wing_left.columns)
#print(titles)
wing_left.columns = ['time_us_left', 'input_pwm_left', 'output_pwm_left', 'voltage_mV_left', 'current_mA_left', 'internal_temperature_left', 'servo_pos_left', 'flap_root_left', 'flap_tip_left', 'air_temp_left', 'Servo_temp_left', 'Unnamed: 11']

wing_left

,time_us_left,input_pwm_left,output_pwm_left,voltage_mV_left,current_mA_left,internal_temperature_left,servo_pos_left,flap_root_left,flap_tip_left,air_temp_left,Servo_temp_left,Unnamed: 11
0,3844130,1504,1504,5009,381,1502,2061,2077,1809,768,768,NaN
1,3851130,1503,1503,4992,387,1505,2062,2077,1809,768,768,NaN
2,3858130,1503,1503,4986,384,1506,2061,2077,1809,768,768,NaN
3,3865130,1503,1503,4978,378,1503,2061,2077,1809,768,768,NaN
4,3872130,1503,1503,4986,384,1502,2062,2077,1809,768,768,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
99804,503678131,1505,1505,4999,386,1510,2055,2079,1808,733,740,NaN
99805,503683131,1505,1505,4992,381,1511,2055,2079,1808,733,740,NaN
99806,503688131,1505,1505,4992,383,1510,2055,2079,1808,733,740,NaN
99807,503693132,1505,1505,4990,390,1511,2055,2080,1809,733,740,NaN
99808,503698131,1505,1505,5001,386,1513,2055,2080,1808,733,741,NaN

In [7]:
plt.plot(wing_left["time_us_left"], wing_left["flap_root_left"], label = "Inner side left")
plt.plot(wing_left["time_us_left"], wing_left["flap_tip_left"], label ="Outter side left")
plt.title("Aileron deflection measurement of Bixler left wing")
plt.xlabel("Time [us]")
plt.ylabel("Ail [??]") 
plt.xticks(np.arange(0, 5.5 * 10 ** 8, 0.5 * 10 ** 8))
plt.legend()
plt.grid()
plt.show()

In [6]:
wing_right = pd.read_csv("C:/Users/chenx/Desktop/SA/04_29/acmuv1101/activitylog181.csv", delimiter = ";", header = 25)

# Rename all columns in wing_left
titles = list(wing_right.columns)
#print(titles)
wing_right.columns = [ 'time_us_right','input_pwm_right', 'output_pwm_right', 'voltage_mV_right', 'current_mA_right', 'internal_temperature_right', 'servo_pos_right', 'flap_root_right', 'flap_tip_right', 'Unnamed: 9']

wing_right

,time_us_right,input_pwm_right,output_pwm_right,voltage_mV_right,current_mA_right,internal_temperature_right,servo_pos_right,flap_root_right,flap_tip_right,Unnamed: 9
0,3634018,1504,1504,5015,379,1511,2161,1748,2197,NaN
1,3639018,1504,1504,4990,385,1513,2162,1748,2197,NaN
2,3644018,1505,1505,5009,384,1513,2163,1749,2197,NaN
3,3649018,1505,1505,4982,374,1511,2163,1748,2197,NaN
4,3654018,1505,1505,4982,367,1513,2162,1748,2197,NaN
...,...,...,...,...,...,...,...,...,...,...
100619,507063019,1505,1505,4997,377,1519,2156,1753,2192,NaN
100620,507068019,1505,1505,4997,379,1518,2156,1753,2192,NaN
100621,507073019,1505,1505,4997,383,1518,2155,1753,2192,NaN
100622,507078019,1506,1506,4994,377,1518,2155,1753,2192,NaN
100623,507083019,1506,1506,4990,387,1518,2155,1753,2192,NaN

In [9]:
plt.plot(wing_right["time_us_right"], wing_right["flap_root_right"], label = "Inner side right")
plt.plot(wing_right["time_us_right"], wing_right["flap_tip_right"], label ="Outter side right")
plt.title("Aileron deflection measurement of Bixler right wing")
plt.xlabel("Time [us]")
plt.ylabel("Ail [??]") 
#plt.xticks(np.arange(0, 5.5 * 10 ** 8, 0.5 * 10 ** 8))
plt.legend()
plt.grid()
plt.show()

In [80]:
# Contact three csv-files(wing_left, wing_right, bixler) together

contacted = pd.concat([bixler, wing_left, wing_right], axis = 1)
# Save/Output csv-file
contacted.to_csv("C:/Users/chenx/Desktop/SA/04_29/Contacted.csv", index = False)

contacted

,Time_new_us,Date,Time,RSSI(dB),RxBt(V),Cels(V),GPS,GAlt(m),GSpd(kts),Date.1,Rud,Ele,Thr,Ail,S1,S2,SA,SB,SC,SD,SF,SH,LSW,TxBat(V),time_us_left,input_pwm_left,output_pwm_left,voltage_mV_left,current_mA_left,internal_temperature_left,servo_pos_left,flap_root_left,flap_tip_left,air_temp_left,Servo_temp_left,Unnamed: 11,time_us_right,input_pwm_right,output_pwm_right,voltage_mV_right,current_mA_right,internal_temperature_right,servo_pos_right,flap_root_right,flap_tip_right,Unnamed: 9
0,0.0,2022-04-29,06:35:48.520,0.0,0.0,0.0,NaN,0.0,0.0,0-00-00 00:00:00,-9.0,-13.0,-1024.0,17.0,89.0,147.0,-1.0,0.0,1.0,-1.0,-1.0,-1.0,0.0,8.3,3844130.0,1504.0,1504.0,5009.0,381.0,1502.0,2061.0,2077.0,1809.0,768.0,768.0,NaN,3634018,1504,1504,5015,379,1511,2161,1748,2197,NaN
1,90000.0,2022-04-29,06:35:48.610,0.0,0.0,0.0,NaN,0.0,0.0,0-00-00 00:00:00,-9.0,-13.0,-1024.0,17.0,89.0,147.0,-1.0,0.0,1.0,-1.0,-1.0,-1.0,0.0,8.3,3851130.0,1503.0,1503.0,4992.0,387.0,1505.0,2062.0,2077.0,1809.0,768.0,768.0,NaN,3639018,1504,1504,4990,385,1513,2162,1748,2197,NaN
2,190000.0,2022-04-29,06:35:48.710,0.0,0.0,0.0,NaN,0.0,0.0,0-00-00 00:00:00,-9.0,-13.0,-1024.0,19.0,89.0,147.0,-1.0,0.0,1.0,-1.0,-1.0,-1.0,0.0,8.3,3858130.0,1503.0,1503.0,4986.0,384.0,1506.0,2061.0,2077.0,1809.0,768.0,768.0,NaN,3644018,1505,1505,5009,384,1513,2163,1749,2197,NaN
3,290000.0,2022-04-29,06:35:48.810,0.0,0.0,0.0,NaN,0.0,0.0,0-00-00 00:00:00,-9.0,-13.0,-1024.0,19.0,89.0,147.0,-1.0,0.0,1.0,-1.0,-1.0,-1.0,0.0,8.3,3865130.0,1503.0,1503.0,4978.0,378.0,1503.0,2061.0,2077.0,1809.0,768.0,768.0,NaN,3649018,1505,1505,4982,374,1511,2163,1748,2197,NaN
4,390000.0,2022-04-29,06:35:48.910,0.0,0.0,0.0,NaN,0.0,0.0,0-00-00 00:00:00,-9.0,-13.0,-1024.0,19.0,89.0,146.0,-1.0,0.0,1.0,-1.0,-1.0,-1.0,0.0,8.3,3872130.0,1503.0,1503.0,4986.0,384.0,1502.0,2062.0,2077.0,1809.0,768.0,768.0,NaN,3654018,1505,1505,4982,367,1513,2162,1748,2197,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100619,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,507063019,1505,1505,4997,377,1519,2156,1753,2192,NaN
100620,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,507068019,1505,1505,4997,379,1518,2156,1753,2192,NaN
100621,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,507073019,1505,1505,4997,383,1518,2155,1753,2192,NaN
100622,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,507078019,1506,1506,4994,377,1518,2155,1753,2192,NaN
100623,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,507083019,1506,1506,4990,387,1518,2155,1753,2192,NaN

In [81]:
# Shifting data/signal flap_tip_right

contacted["flap_tip_right"] = contacted['flap_tip_right'].shift(-875)
#contacted["flap_tip_right_new"] = contacted["flap_tip_right"] - (2197 - 1809)

In [83]:
# Plot time vs. aileron from bixler

plt.plot(contacted["Time_new_us"], contacted["flap_tip_left"], label = "wing_left flap_tip")
plt.plot(contacted["Time_new_us"], contacted["flap_tip_right"], label = "wing_right flap_tip")
#plt.plot(contacted["Time_new_us"], contacted["Ail"], label = "bixler aileron")
#plt.xticks(np.arange(min(contacted["Time_new_us"]), max(contacted["Time_new_us"]), 0.1 * 10 ** 10))
#plt.yticks(np.arange(min(y), max(y), 100))
#plt.title("Aileron deflection measurement of Bixler over time")
plt.title("Aileron deflection measurement of bixler wing_left and wing_right over time")
plt.ylabel("Ail [??]")
plt.xlabel("Time [us]")
plt.legend()
plt.grid()
plt.show()

In [1]:
print("Hello World")

Hello World